<h3>My Flask Template</h3>
<p> Color:
    {% if  color %}
        {{ color }}
    {% else %}
        blue
    {% endif %}
</p>
<p>Times: {{ times }}</p>

<div style="display:flex;flex-wrap:wrap;padding:0 5em; gap: 1em;">

    {% if  color %}
        {% for y in range(0,times): %}
            <div style="background-color: {{ color }};width: 5em; height: 5em;"></div>
        {% endfor %}
    {% else %}
        {% for y in range(0,times): %}
            <div style="background-color: blue;width: 5em; height: 5em;"></div>
        {% endfor %}
    {% endif %}
</div>
